.tag {
  color: var(--white);
  border-radius: 5px;
  padding: 5px;  
}

.connected {
  background-color: var(--positive);
}

.notConnected {
  background-color: var(--negative);
}


.removed {
  background-color: var(--accent400);
}





